@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@400;700&display=swap');
/* Style the navigation bar */

/* Style the menu items */
nav {
    width: 100%;
    background-color: #00448e;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
    width: clamp(200px, 100%, 1600px);
}

nav ul li {
    margin: 0;
}

/* Style links */
nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links */
    background-color: #00448e;
    font-size: 1.1rem;
    padding: 8px 16px;
    display: block;
}

nav ul li a:hover {
    color: #fff;
    background-color: #005ec3;
}

nav ul li:hover {
    background-color: #027cff;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: clamp(200px, 100%, 1600px);
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

header > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: clamp(200px, 100%, 1200px);
    margin: 40px auto 0px auto;
}

header > ul h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(237, 237, 237);
    line-height: 0;
    margin: 0;
    white-space: nowrap;
}

header * {
    margin: 0;
}

h1 {
    font-size: 3rem;
}
header h3 {
    margin-bottom: 64px;
}

pre {
    width: 100%;
    overflow-x: auto;
}


.copyBtn {
    font-family: 'Poppins';
    border: none;
    background-color: #007bff;
    border: 1px solid #005bbb;
    padding: 0px 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.copyBtn:hover {
    background-color: #0069da;
    transition: 0.2s;
}

.copyBtn:active {
    transform: scale(1.1);
    transition: 0.1s;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

h2 {
    font-size: 24px;
    margin: 0;
}

p {
    margin: 10px 0;
}

p a {
    word-wrap: break-word;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    color: #0061c8;
    transition: 0.2s;
}


/* Style for the social media icons */
#social-media {
    text-align: center;
}

#social-media ul {
    list-style: none;
    padding: 0;
}

#social-media li {
    display: inline-block;
    margin: 0 10px;
}

#social-media a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

pre, span.mono {
    font-family: "IBM Plex Mono", monospace;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block; /* Display menu items vertically for smaller screens */
        margin-right: 0; /* Remove spacing between menu items */
    }

    header {
        padding: 10px; /* Decrease padding for the header */
    }

    h1 {
        font-size: 24px; /* Decrease font size for h1 */
    }

    #social-media li {
        margin: 0 5px; /* Adjust spacing for social media icons */
    }
}

@media only screen and (max-width: 700px) {
    header > ul {
        flex-direction: column;
        gap: 10px;
        
    }
}